# IDE
.idea/
*.iml
.vscode/

# Python virtualenvs
venv/
venv*/
env/
.venv/
venvact/

# Python caches
__pycache__/
*.pyc

# OS
.DS_Store
Thumbs.db

# build / jars / binaries
dist/
build/
*.jar
*.zip
bfg.jar
